<div class="modal fade" id="delete-book" tabindex="-1" role="dialog" aria-labelledby="Edit library" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            {{ form(form) }}
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">
                    <i class="fas fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-danger" data-delete="modal">
                    <i class="fas fa-trash"></i> Yes
                </button>
            </div>
        </div>
    </div>
</div>