<div class="modal fade" id="delete-book" tabindex="-1" role="dialog" aria-labelledby="Edit library" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="addContactLabel">Edit library</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label>
                        <input name="id" type="number" value="{{ id }}" hidden>
                    </label>
                    <div class="form-group">
                        <label for="address" class="control-label">Library address</label>
                        <input name="address" type="text" value="{{ address }}" id="address" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-save="modal">
                    <span class="fas fa-save"></span> Save
                </button>
                <button type="button" class="btn btn-light" data-dismiss="modal">
                    <span class="fas fa-times"></span> Close
                </button>
            </div>
        </div>
    </div>
</div>
